<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <title>Example Student's HCDE 439 Physical Computing Page!</title>

    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>A2: Fade!</h1>
    <p>Here is all the documentation for assignment 2!</p>
    <h1>Schematic</h1>
    <div class="header">
      <img src="A2Schematic.jpg" />
      <p>This is the schematic for the A2 assignment. I picked the value 220 for the 
        resistor because I used the equation 5V - 1.8V = (20*10^-3)R. 5V represents the 
        initial voltage and 1.8 represents the voltage drop. (20*20^-3) represents the 
        20mA desired current. I also used this equation for the button's resistor
        and got the closest resistor value to 220 ohms.</p>
    </div>
    <h1>Arduino Board Photo</h1>
    <div class="header">
      <img src="A2Board.jpg" />
      <p>This is Arduino Board setup I used to get my LEDs to fade. I 
        purposely set separate input wires for each LED while having a 
        5V power source connected to the beginning of the circuit. This 
        allowed me to be able to code each LED separately.
      </p>
    </div>
    <h1>Video GIF</h1>
    <div class="header">
      <img src="IMG_3707 2.MOV" />
      <p>This is a video GIF of the LEDs fading in action. This shows
        how the arduino code was used to cause a fading pattern with the
        three different LEDs. As you can see, the fading began only after 
        pressing the button.
      </p>
    </div>
    <h1>Code Snippet</h1>
    <div class="header">
      <img src="A2CodeSnip1.jpg" />
      <img src="A2CodeSnip2.jpg" />
    </div>
      <p>This is the code snippet used to fade my LEDs. The speed can be adjusted
        accordingly by the delay command if you want a slower fade. 
      </p>
    </div>
    <h1>Questions</h1>
    <div class="header">
      <img src="A2Ques.jpg" />
      <p> 
       These are the answers for the questions in A2. 
      </p>
    </div>
  </body>
</html>
